.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #244c62;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 3em;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 2em;
  margin:0 0;
}

.navLink {
  display: inline-flex;
  color: #f2f2f2;
  background-color: #244c62;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
  font-size: .95em;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  text-decoration: underline gold .15em;
}

.logo-image{
  height:6em;
  width: 15em;
  margin-left: 1em;
  min-width:100%;
}
